extends common/layout.pug

block css
  link(rel="stylesheet" href="./css/customers.css")

block js
  script(src='./js/customers.js')

block content
  section.banner-section
    h1.h1 See why more than 17,000 businesses choose Intercom for personal customer communication
    img(src="./images/customers/hero.png")

  section.customers-section
    h2.h2 Read our customers stories
    h5 Filter by use case
    .filter
      label
        input.onbording(type="checkbox", data-multifilter="onboarding")
        span Onboarding and retention
      label
        input.support(type="checkbox", data-multifilter="support")
        span Support and live chat

    .customers-list#filter-container
      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/white-label-dating.jpg")
        img.logo(src="./images/customers/white-label-dating-logo.png", width=45)
        .desc White Label Dating used Intercom to drive user engagement with in-app messaging on desktop and mobile web.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/white-label-dating-logo.png", width=45)
          .speak I don't think we really even scratched the surface with Intercom, truth be told. There are lots of elements to the Intercom system that we're not taking advantage of. One of the main reasons that we chose Intercom in the first place is to have flexibility and room to grow. It's the beginning of the ride.

      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/frame-io.jpg")
        img.logo(src="./images/customers/frame-io-logo.png", width=150)
        .desc Media collaboration platform scales better customer support and engagement.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/frame-io-logo.png", width=150)
          .speak Intercom feels so personal. So many of the conversations we had in the early days gave us a foundation of very dedicated and loyal customers.

      a.customer-card(date-filter="filter", data-category="support", href="#")
        img.photo(src="./images/customers/expensify.jpg")
        img.logo(src="./images/customers/expensify-logo.png", width=140)
        .desc How Expensify improved the support and sales experience for millions of customers.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/expensify-logo.png", width=140)
          .speak Intercom has changed the way our Sales and Support teams collaborate. It’s costly to acquire a single customer, so having a single tool that lets us track, coach, and support users through every step of the funnel is priceless.

      .story(date-filter="filter", data-category="")
        img.logo(src="./images/customers/new-relic.svg", width=180)
        .desc New Relic wanted useful feedback about a new feature. Rather than spam their entire database with a survey, they used Intercom to target power users of the feature and sent it to their inboxes where it wouldn’t be as disruptive.
        .result-title Result
        .result 21% replied with feedback, a 2.5x increase than their last, non-targeted survey

      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/moz.jpg")
        img.logo(src="./images/customers/moz-logo.png", width=110)
        .desc How Moz reduced their support median response time by 70% and increased customer loyalty in the process.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/moz-logo.png", width=110)
          .speak Honestly, Intercom has spoiled our new customers with a great way to get a hold of us and a consistent way to receive onboarding messages. That’s what we want: an amazing experience with our success and support interactions.

      .customers-logos(date-filter="filter", data-category="")
        img(src="./images/customers/logos-1.png")
        img.md(src="./images/customers/logos-1-md.png")

    .customers-list
      a.customer-card(date-filter="filter", data-category="onboarding", href="#")
        img.photo(src="./images/customers/bugherd.jpg")
        img.logo(src="./images/customers/bugherd-logo.png", width=114)
        .desc Software development company gathers 150% more feedback from customers.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/bugherd-logo.png", width=114)
          .speak I think what’s great about Intercom is that every message feels immediate and personal, allowing us to scale while staying authentic.

      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/salesloft.jpg")
        img.logo(src="./images/customers/salesloft-logo.png", width=150)
        .desc How Salesloft used Intercom to go from 5% to 40% of demo appointments booked through live chat.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/salesloft-logo.png", width=150)
          .speak Intercom lets us identify and prioritize prospects that arrive from the website more efficiently. We can make a personal connection and an impactful experience that sets us apart.

      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/cloudsponge.jpg")
        img.logo(src="./images/customers/cloudsponge-logo.png", width=100)
        .desc How CloudSponge upgraded 20% of grandfathered accounts in a day.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/cloudsponge-logo.png", width=100)
          .speak We expected that moving all of our grandfathered customers to new plans would take a year, but with Intercom’s help, we had 20% of them upgrade on the first day – that we didn’t expect.

      a.customer-card(date-filter="filter", data-category="onboarding", href="#")
        img.photo(src="./images/customers/invision.jpg")
        img.logo(src="./images/customers/invision-logo.png", width=112)
        .desc Prototyping tool for designers maintains email open rates above 75%.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/invision-logo.png", width=112)
          .speak Users are quick to dismiss things that seem fake or contrived, and personalized messaging is one of the best ways to get users to actually receive and read the message you are sending.

      .story(date-filter="filter", data-category="")
        img.logo(src="./images/customers/typeform.png", width=141)
        .desc Visitors can build a form or survey before signing up, but in order to save and share it, they need to create an account. To encourage visitors to take this next step, they triggered an in-app message that appears after someone builds their first typeform.
        .result-title Result
        .result 92% of those who opened the message saved their typeform

      .customers-logos(date-filter="filter", data-category="")
        img(src="./images/customers/logos-2.png")
        img.md(src="./images/customers/logos-2-md.png")

    .customers-list
      a.customer-card(date-filter="filter", data-category="onboarding", href="#")
        img.photo(src="./images/customers/desk.jpg")
        img.logo(src="./images/customers/desk-logo.png", width=90)
        .desc Product management team engages customers 50% more.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/desk-logo.png", width=90)
          .speak There are plenty of tools that tell you what features your customers use, but sometimes they miss the most important feedback: why customers use features. Intercom gives us that.

      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/baremetrics.jpg")
        img.logo(src="./images/customers/baremetrics-logo.svg", width=179)
        .desc How Baremetrics used Intercom to increase annual billing by 30%.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/baremetrics-logo.svg", width=179)
          .speak With Intercom we get the insights we need to constantly improve the customer experience. We can make fewer assumptions about our customers and message them at the best possible moment.

      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/droplr.jpg")
        img.logo(src="./images/customers/droplr-logo.png", width=120)
        .desc File-sharing app ditches tickets for conversations to build transparency across all customer communications.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/droplr-logo.png", width=120)
          .speak With Intercom, you get all the right context to solve real people’s problems. This is important if you want to treat your customers like people rather than like tickets.

      .story(date-filter="filter", data-category="")
        img.logo(src="./images/customers/fitbark.png", width=90)
        .desc As an activity monitor for dogs, FitBark works best when owners set goals for their dog’s activities. Email reminders were ignored, so FitBark triggered an in-app message to active customers who hadn’t set a goal within their first two weeks.
        .result-title Result
        .result 92% set an activity goal after seeing this message

      a.customer-card(date-filter="filter", data-category="onboarding", href="#")
        img.photo(src="./images/customers/vend.jpg")
        img.logo(src="./images/customers/vend-logo.png", width=70)
        .desc Point-of-sale solution increases conversion rate by 30%.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/vend-logo.png", width=70)
          .speak I remember the moment we turned on Intercom - as the map of our customers began to populate in real time, we literally high fived each other!

      .customers-logos(date-filter="filter", data-category="")
        img(src="./images/customers/logos-3.png")
        img.md(src="./images/customers/logos-3-md.png")

    .customers-list
      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/put-io.jpg")
        img.logo(src="./images/customers/put-io-logo.png", width=120)
        .desc Pro-active support helps cloud-based bittorrent engine reduce churn by 14%.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/put-io-logo.png", width=120)
          .speak It’s nice being able to announce problems through a private two-way conversation, rather than as a one-off message posted in a forum or through Twitter. Email-based confessions come too late or too early.

      .story(date-filter="filter", data-category="")
        img.logo(src="./images/customers/later.png", width=112)
        .desc Later, a popular mobile app for Instagram scheduling, wanted to reach out to new signups before they slipped away. Using Intercom, they sent an email to new users who hadn’t been active for two days.
        .result-title Result
        .result 23% of recipients scheduled a post<br/>17% more users were retained from targeted on boarding messages

      a.customer-card(date-filter="filter", data-category="onboarding, support", href="#")
        img.photo(src="./images/customers/codeship.jpg")
        img.logo(src="./images/customers/codeship-logo.png", width=150)
        .desc Continuous integration tool stays personal while quadrupling users.
        .read Read Story
        .overlay
          img.logo(src="./images/customers/codeship-logo.png", width=150)
          .speak One of the best things about Intercom is that with a few clicks, anyone can create a customer segment without additional implementation or programming.

  section.last-section
    .customers-words
      .carousel
        .carousel-item
          img(src="./images/customers/wake.svg", width=40)
          p “Intercom brings us closer to our customers. I have no idea what we would do without it!”
        .carousel-item
          img(src="./images/customers/chariot.png", width=100)
          p “The Intercom Messenger has helped Chariot easily personalize communication with our commuters. It has even opened up numerous opportunities to engage with new partners!”
        .carousel-item
          img(src="./images/customers/fog.svg", width=150)
          p “We love the Messenger's teammate profiles - they allow us to show more personality, making it clear there's real people helping our customers - rather than faceless agents and this helps us build positive relationships.”
      .globe
        .arrow
        img(src="./images/customers/globe-1.gif", width=124)

    .trial-form
      h2.h1.tx-blue Try Intercom free for 14 days
      form.get-started(actions="")
        .clearfix.home-form
          input.email(type="text", name="", placeholder="Enter your emial")
          button.btn.btn-primary(type="submit") Get Started
      span.form-desc Easy setup &nbsp;&bullet;&nbsp; Send unlimited messages &nbsp;&bullet;&nbsp; Buy or cancel at any time
