extends common/layout.pug

block css
  link(rel="stylesheet" href="./css/live-chat.css")

block content
  .live-chat
    .banner
      img(src="./images/live-chat/banner.jpg")
      .banner-text
        .h6 The Intercom Product for Live Chat
        h1.h1 Every website visitor is a sales opportunity. Chat and convert them to customers.
        form(actions="")
          .clearfix.home-form
            input(type="text", name="", placeholder="Enter your emial")
            button.btn.btn-primary(type="submit") Get Started
        .video-btn WATCH THE VIDEO
    .section
      .chat-width-visitor.p20 
        img(src="./images/live-chat/1.svg")
        h3.h3 Chat with visitors on your website in real-time, capture leads, and continue conversations by email if they leave.
        .chat-grid
          .grid-box
            include ../images/live-chat/target.svg
            .grid-title Targeted live chat
          .grid-box
            include ../images/live-chat/track.svg
            .grid-title Lead tracking
          .grid-box
            include ../images/live-chat/team.svg
            .grid-title Team inbox
      .trial-form
        h2.h1.tx-red Try it free for 14 days
        form(actions="")
          .clearfix.home-form
            input(type="text", name="", placeholder="Enter your emial")
            button.btn.btn-primary(type="submit") Get Started
        span.form-desc Easy setup &nbsp;&bullet;&nbsp; Try any products free for 14 days &nbsp;&bullet;&nbsp; Cancel at any time
        .join
          .join-info Join thousands of businesses who use intercom to Acquire new customers
          img(src="./images/live-chat/logos.png")
    .bubble-box
    .overview
      .title 
        img(src="./images/live-chat/overview.png", width="512")
      .welcome.section
        .h6 welcome
        h2.h1 Always open and available to help
        .overview-desc.h5 Grab attention by showing the faces of people on your team and have lively conversations that engage visitors on your website.
        .welcome-items
          .img-left
            img(src="./images/live-chat/bg-left.png")
          .item-pc.browser
            .img-right
              img(src="./images/live-chat/open.png")
            video(src="https://marketing.intercomassets.com/assets/acquire/tour/mv3/welcome-2x-74ee9dfe84c8af0076aa6e8255a9ff504942df460999440a665ece2a7c2547a2.mp4#t=1", poster="./images/live-chat/welcome.jpg", width="876")
          .item-mobile
            video(src="https://marketing.intercomassets.com/assets/acquire/tour/mv3/welcome-mobile-2x-0627ed917605d5fa6b437cc38e8c882680b3545f4b56398a824bfe47fa3a261c.mp4#t=1", poster="./images/live-chat/app.jpg", width="220px")
          .control-bar 
            .pc.active
              include ../images/live-chat/pc.svg
            .mobile 
              include ../images/live-chat/mobile.svg
      .target.section 
        .h6 target
        h2.h1 Proactively start targeted live chats
        .overview-desc.h5 Encourage action by sending targeted messages automatically triggered by a visitor's behavior on your website.
        .targer-grid 
          .col-sm-4.filter
            .filter-text It's easy to create rules that trigger targeted messages:
            img(src="./images/live-chat/rule.png")
            .line-horizen
          .col-sm-8
            .target-video.browser
              video(src="https://marketing.intercomassets.com/assets/acquire/tour/mv3/target-2x-c15e187510ec28282a073934873dfb146267e3fd1abfdd838dfe740a6403c825.mp4#t=1" type="video/mp4" width="650" poster="./images/live-chat/website.jpg")
      .collaborate.section 
        .h6 collaborate
        h2.h1 Work together to convert visitors to customers
        .overview-desc.h5 A shared team inbox makes it easy to manage chats and involve the right teammates to handle difficult questions.
        .collaborate-detail
          .collaborate-items 
            .col-pc.browser
              img(src="./images/live-chat/collaborate.png", width="876")
              .left-bg
                img(src="./images/live-chat/high-five.png")
            .item-mobile
              img(src="./images/live-chat/collaborate-2.png", width="220")
          .item-aside 
            img.blog(src="./images/live-chat/on-the-blog.jpg", width="161")
            .aside-title.h6 Looking to switch?
            .aside-desc 
              | See how we compare to 
              a(href="#") Olark
              |   and   
              a(href="#") Zopim
          .control-bar 
            .pc.active
              include ../images/live-chat/pc.svg
            .mobile 
              include ../images/live-chat/mobile.svg
      .follow-up.section
        .h6 follow-up
        h2.h1 Keep conversations alive by email if visitors leave
        .overview-desc.h5 Capture email addresses to notify leads by email when you respond.
        .follow-up-detail 
          .item-mobile
            img(src="./images/live-chat/seamless.png", width="220")
      .unified.section
        .h6 unified
        h2.h1 Have a complete view of every customer
        .overview-desc.h5 See a live profile for every visitor that starts a conversation, capture them as leads, and keep their full history when they become customers.
        .unified-detail 
          .detail-img.browser
            .unified-circle
            img(src="./images/live-chat/unified-2.png", width="876")
          .item-aside 
            .aside-title.h6 Behind the scenes
            .quote Today’s live chat is broken because there is no continuous record when a potential customer signs up and becomes a customer. We fixed that, so there is one profile, one true record, of all a person’s activity and conversations.
            img(src="./images/live-chat/paul.png", width="93")
            p VP of Product, Intercom
    .acquire-quote.section
      img(src="./images/live-chat/morgan.jpg", width="1404")
      .p20.text-container
        .quote-text
          .text-detail
            h3.h6 Featured customer: IRON.IO
            .quote-para.h3 With Intercom Acquire, our sales development representatives interact with website visitors in real-time, which adds quality leads into the sales pipeline faster and shortens our sales cycle.
            .sign 
              img(src="./images/live-chat/morgan-sig.png", width="250")
              .title VICE PRESIDENT OF SALES
    .how-it-works 
      .launcher
      .communication.section 
        h2.h1 Have more conversations 
        .tabs 
          .tab.current-tab Visitor Auto Messages
          .tab rules