footer
  .content-wrapper
    .footer-links
      .links
        .link-title PRODUCTS
        ul
          li
            a(href="#") Website Live Chat
          li
            a(href="#") Customer Engagement
          li
            a(href="#") Customer Support
          .separate-line
          li
            a(href="#") View Pricing
          li
            a(href="#") Intercom for Early Stage
          li
            a(href="#")
              | Intercom Platform
              span.footer-new FREE
      .links
        .link-title FEATURES
        ul
          li
            a(href="#") In-App Messaging
          li
            a(href="#") Team Inbox
          li
            a(href="#") Knowledge Base
          li
            a(href="#") Intercom for Mobile
          li
            a(href="#") Integrations
          li
            a(href="#") iOS & Android Apps
      .links
        .link-title RESOURCES
        ul
          li
            a(href="#") Watch a Demo
          li
            a(href="#") Help Center
          li
            a(href="#") Developers
          li
            a(href="#") Events
          li
            a(href="#") Status
          li
            a(href="#") Security
      .links
        .link-title COMPANY
        ul
          li
            a(href="#;") About
          li
            a(href="#;") Customers
          li
            a(href="#;") Careers
          li
            a(href="#;") Press Resources
          li
            a(href="#;") Contact Us
      .links
        .link-title FROM THE BLOG
        .separate-line
        ul
          li
            a(href="#") Why sales and support should be friends, not foes
          li
            a(href="#") Scott Belsky on the importance of your product’s first mile
          li
            a(href="#") Slack’s Judy Watkins on improving customer support as you grow
        .read-more
          a(href="#") Read More →
    .copyright
      .copyright-links
        a(href="#") Terms
        a(href="#") Privacy
        a(href="#") team@intercom.com
      .share-links
        a(href="#")
          img(src="../images/footer/facebook.svg")
        a(href="#")
          img(src="../images/footer/twitter.svg")
        a(href="#")
          img(src="../images/footer/linkedin.svg")
    .brand
      img(src="../images/footer/brand.svg")
